html{
    height: 110%;
}

body{
    background: radial-gradient(rgb(0, 132, 255),rgb(44, 153, 255),rgb(130, 194, 255), rgb(178, 218, 255), rgb(227, 242, 255));
    animation: rainbow infinite 2s;
}
header{
    text-align: center;
}
section{
    width: 550px;
    height: auto;
    background-color: rgba(7, 13, 66, 0.432);
    margin: 100px auto;
    padding: 10px;
    border: double 15px rgb(0, 0, 0);
    border-radius: 25px;
}
button{
    background-color: black;
    color: white;
    font-size: 15px;
    border: double 5px rgb(52, 174, 255);
    border-radius: 25px ;
}
button:hover{
    color: black;
    border: double 5px rgb(48, 48, 48);
    animation: rainbow infinite .01s;
    transition: all 5s;
}
input{
    background-color: black;
    color:white;
    width: 50px;
    height: 25px;
    font-size: 1em;
}
#output{
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 400px;
    width: 250px;
    height: 50px;
    float: right;
    background-color: white;
    text-align: center;
    vertical-align: center;
    font-size: 1.8em;
}
#math{
    float: right;
}
img{
    height: 150px;
    width: 200px;
    filter: saturate(1);
}
img:hover{
    filter: saturate(5);
    transition: all 10s;
}
/*Animations*/
@keyframes ripple{
    5%{background: radial-gradient(rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255));}
    10%{background: radial-gradient(rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255));}
    15%{background: radial-gradient(rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255));}
    20%{background: radial-gradient(rgb(127, 193, 255),rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255));}
    25%{background: radial-gradient(rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255), rgb(0, 135, 224));}
    30%{background: radial-gradient(rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255));}
    35%{background: radial-gradient(rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255));}
    40%{background: radial-gradient(rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255));}
    45%{background: radial-gradient(rgb(127, 193, 255),rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255));}
    50%{background: radial-gradient(rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255), rgb(0, 135, 224));}
    55%{background: radial-gradient(rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255));}
    60%{background: radial-gradient(rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255));}
    65%{background: radial-gradient(rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255));}
    70%{background: radial-gradient(rgb(127, 193, 255),rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255));}
    75%{background: radial-gradient(rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255), rgb(0, 135, 224));}
    80%{background: radial-gradient(rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255));}
    85%{background: radial-gradient(rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255));}
    90%{background: radial-gradient(rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255),rgb(127, 193, 255));}
    95%{background: radial-gradient(rgb(127, 193, 255),rgb(187, 224, 255),rgb(207, 241, 255), rgb(0, 135, 224),rgb(52, 174, 255));}
    100%{background: radial-gradient(rgb(52, 174, 255),rgb(127, 193, 255), rgb(187, 224, 255), rgb(207, 241, 255), rgb(0, 135, 224));}
}
@keyframes rainbow{
    5%{background: radial-gradient(red, orange, yellow, green, blue, purple);}
    10%{background: radial-gradient(orange, yellow, green, blue, purple, red);}
    15%{background: radial-gradient(yellow, green, blue, purple, red, orange);}
    20%{background: radial-gradient(green, blue, purple, red, orange, yellow);}
    25%{background: radial-gradient(blue, purple, red, orange, yellow, green);}
    30%{background: radial-gradient(purple, red, orange, yellow, green, blue);}
    35%{background: radial-gradient(red, orange, yellow, green, blue, purple);}
    40%{background: radial-gradient(orange, yellow, green, blue, purple, red);}
    45%{background: radial-gradient(yellow, green, blue, purple, red, orange);}
    50%{background: radial-gradient(green, blue, purple, red, orange, yellow);}
    55%{background: radial-gradient(blue, purple, red, orange, yellow, green);}
    60%{background: radial-gradient(purple, red, orange, yellow, green, blue);}
    65%{background: radial-gradient(red, orange, yellow, green, blue, purple);}
    70%{background: radial-gradient(orange, yellow, green, blue, purple, red);}
    75%{background: radial-gradient(yellow, green, blue, purple, red, orange);}
    80%{background: radial-gradient(green, blue, purple, red, orange, yellow);}
    85%{background: radial-gradient(blue, purple, red, orange, yellow, green);}
    90%{background: radial-gradient(purple, red, orange, yellow, green, blue);}
    95%{background: radial-gradient(red, orange, yellow, green, blue, purple);}
    100%{background: radial-gradient(orange, yellow, green, blue, purple, red);}
}