
html{
    height: 100%;
}

body{
    background: radial-gradient(rgb(49, 49, 49),rgb(255, 255, 255),rgb(214, 213, 213), rgb(160, 160, 160), rgb(78, 78, 78)); 
}
header{
    text-align: center;
}
section{
    width: 550px;
    height: auto;
    background-color: rgba(42, 42, 255, 0.856);
    margin: 100px auto;
    padding: 10px;
    border: double 15px black;
    border-radius: 25px;
}
button{
    background-color: black;
    color: white;
    font-size: 15px;
    border: double 5px rgb(255, 255, 255);
    border-radius: 25px ;
}
button:hover{
    background-color: white;
    color: black;
    border: double 5px rgb(48, 48, 48);
    transition: all .5s;
}
input{
    background-color: black;
    color:white;
    width: 50px;
    height: 25px;
    font-size: 1em;
}
#output{
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 400px;
    width: 250px;
    height: 50px;
    float: right;
    background-color: white;
    text-align: center;
    vertical-align: center;
    font-size: 1.8em;
}
#math{
    float: right;
}
/*Animations
@keyframes ripple{
    20%{background: radial-gradient(rgb(49, 49, 49),rgb(255, 255, 255),rgb(214, 213, 213), rgb(160, 160, 160), rgb(78, 78, 78));}
    40%{background: radial-gradient(rgb(78, 78, 78), rgb(49, 49, 49),rgb(255, 255, 255),rgb(214, 213, 213), rgb(160, 160, 160));}
    60%{background: radial-gradient(rgb(160, 160, 160),rgb(78, 78, 78), rgb(49, 49, 49),rgb(255, 255, 255),rgb(214, 213, 213));}
    80%{background: radial-gradient(rgb(214, 213, 213),rgb(160, 160, 160),rgb(78, 78, 78), rgb(49, 49, 49),rgb(255, 255, 255));}
    100%{background: radial-gradient(rgb(255, 255, 255),rgb(214, 213, 213), rgb(160, 160, 160), rgb(78, 78, 78), rgb(49, 49, 49));}
}